* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;   /* horizontal scroll kabhi nahi aayega */
}

img {
  max-width: 100%;
  height: auto;
}



body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0f0f0f;
  background-image: radial-gradient(rgba(255,215,0,0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  color: white;
}

/* Section Title */
.section-title {
  font-family: 'Cinzel', serif;
  font-size: 40px;
  color: #facc15;
  text-align: center;
  margin-top: 60px;
}

/* Gold Divider */
.gold-divider {
  width: 250px;
  height: 4px;
  margin: 30px auto;
  background: linear-gradient(90deg, transparent, #facc15, #b8860b, #facc15, transparent);
  box-shadow: 0 0 15px #facc15;
}

/* Scroll Reveal */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
